{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Sign up</h4>
            </header>
            <form method="POST">
                {% csrf_token %} {{ form | crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>
                </div>
                <!-- form-group// -->
            </form>
        </article>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
    <br /><br />
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
