{% extends 'base.html' %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height: 84vh">
    <!-- ============================ COMPONENT Forget password   ================================= -->

    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px">
        <div class="card-body">
            <h4 class="card-title mb-4">Reset Password</h4>

            {% include 'alert.html' %}
            <form method="POST" autocomplete="off">
				{% csrf_token %}
                <div class="form-group">
                    <input
                        required
                        autofocus="off"
                        type="password"
                        class="form-control"
                        placeholder="Enter password"
						name="password1"
                    />
                </div>
                <div class="form-group">
                    <input
                        required
                        autofocus="off"
                        type="password"
                        class="form-control"
                        placeholder="Confirm password"
						name="password2"
                    />
                </div>
                <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        submit
                    </button>
                </div>
                <!-- form-group// -->
            </form>
        </div>
        <!-- card-body.// -->
    </div>

    <br /><br />
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
